# top-most EditorConfig file
root = true

# General settings
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown files
[*.{md,markdown}]
trim_trailing_whitespace = false

# Makefiles
[{Makefile,*.mk}]
indent_style = tab
trim_trailing_whitespace = false

# Source code files
[**.{c,cxx,cpp,h,hxx,hpp,glsl,java,sh,lua,py}]
indent_style = space
indent_size = 4
max_line_length = 120

[.{json,effect}]
indent_style = space
indent_size = 2
max_line_length = off

[**.{js,css}]
indent_style = space
indent_size = 2
max_line_length = 120