.vagrant
Makefile
*.xcodeproj
*.xcworkspace
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
*.log
*.d
*.o
*.a
*.vsp
*.psess
*.tlog
*.idb
*.pdb
*.obj
*.ilk
*.lastbuildstate
*.vsglog
*.cache
*.vspx
doc/html
remove.me
dist
packages
.DS_Store
bin/
