.vagrant
Makefile
*.xcodeproj
*.xcworkspace
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
*.log
*.d
*.o
*.a
*.vsp
*.psess
*.tlog
*.idb
*.pdb
*.obj
*.ilk
*.lastbuildstate
*.vsglog
*.cache
*.vspx
*.rsp
*.etl
*.opendb
.clang_complete
.atom-build.json
doc/html
remove.me
dist
packages
.DS_Store
framework/bin
plugin/*/bin
example/*/bin
test/*/bin
doc/ref/html
node_modules
