*.sublime-workspace
*.sublime-project
Makefile
examples/bin
examples/obj
framework/bin
framework/obj
plugins/jpeg/bin
plugins/jpeg/obj
plugins/png/bin
plugins/png/obj
plugins/mk/bin
plugins/mk/obj
plugins/webgl/bin
plugins/webgl/obj
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
*.log
*.d
*.o
*.vsp
*.psess
