/bin
/obj
.vagrant
Makefile
*.make
*.xcodeproj
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
*.log
*.d
*.o
*.a
*.vsp
*.psess
*.tlog
*.idb
*.pdb
*.obj
*.ilk
*.lastbuildstate
*.vsglog
*.cache
*.properties
*.java
proguard-project.txt
default.properties
build.xml
build.properties
gen
res
assets
libs
AndroidManifest.xml
doc
remove.me

Info.plist
Default-568h@2x.png
.DS_Store