bin
obj
Makefile
*.xcodeproj
*.xcworkspace
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj*
*.log
*.d
*.o
*.a
*.vsp
*.psess
*.tlog
*.idb
*.pdb
*.obj
*.ilk
*.lastbuildstate
*.vsglog
*.cache
doc/html
remove.me
dist
packages
lib/linux32/chrome-sandbox
lib/linux64/chrome-sandbox
lib/linux32/libcef.so
lib/linux64/libcef.so
lib/linux32/libffmpegsumo.so
lib/linux64/libffmpegsumo.so
