<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="{{PACKAGE}}"
      android:versionCode="{{VERSION_CODE}}"
      android:versionName="1.0"
      android:installLocation="auto">

    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:allowBackup="true"
                 android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                 android:hardwareAccelerated="true" >
        <activity android:name="MinkoActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation|screenSize|keyboardHidden"
				  android:launchMode="singleTask">
			
			<!-- We can open the app without any file -->
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <!-- API 11 => Android 3.0.x | API 14 => Android 4.0, 4.0.1, 4.0.2 -->
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="14" />
	
	<!-- Support of common tablet screen sizes -->
	<supports-screens android:largeScreens="true"
					  android:xlargeScreens="true" />
	
    <!-- OpenGL ES 2.0 -->
    <uses-feature android:glEsVersion="0x00020000" />
</manifest>
