#redButton
{
	background-color: #FF0000;
}

#blueButton
{
	background-color: #0000FF;
}

#yellowButton
{
	background-color: #FFFF00;
}

.button
{
	color: #FFFFFF;
	text-align: center;
	width: 80px;
	padding: 15px;
	margin: 10px;
}